.App {
  background-color: rgb(201, 210, 214);
  margin: auto;
  max-width: 800px;
}

.App h1 {
  text-align: center;
  padding: 10px;
  color: black;
  background-color: rgb(111, 127, 132);
}

.App form {
  padding: 20px;
  color: rgb(76, 96, 100);
}

.App form span {
  margin: 10px 0px 10px 0px;
  color: rgb(87, 110, 115);
}

.App form div label {
  font-weight: 500;
}

.App form .row {
  margin-bottom: 20px;
}

.App form .supervisor-container div {
  margin: auto;
}

.App form button {
  width: 100px;
  margin: auto;
  background-color: rgb(96, 119, 124);
}
/* .App Form input[type='checkbox'] {
  display: inline-block;
}

.App Form input[type='checkbox'] > label {
  display: flex;
  flex-direction: row-reverse;
} */

/* .App form {
  position: relative;
  color: black;
}

.App form div {
  padding: 10px;
  display: block;
  margin: auto;
}

.App form button {
  display: block;
  margin: auto;
}

.App form input {
  display: inline-block;
} */